@charset "UTF-8";
:root {
  --green:#2BB2AC;
  --p-font:#757575; 
  --light-gray:#e0e0e0;
}
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: 'Cabin', sans-serif;
}
body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    overflow-x:hidden;
    color: gray;
}
html, body {
  height: 100%;
  margin: 0;
}
div#content {
    height: 100vh;
}

.footerInv {
    text-align: center;
}
.icon {
    width: 33%;
}
.textCont {
    text-align: left;
    border-left: 1px solid #e4e4e4;
    margin-left: 3rem;
    padding-left: 3rem;
}
.numError {
    font-size: 10rem;
    opacity: 0.1;
    font-weight: bolder;
    line-height: 9rem;
}

.footerError {
    text-align: center;
}
.logo-container {
    text-align: center;
    margin-top: 15px;
}

@media ( max-width : 1024px) {
    .contError {
    display: block;
    width: 100%;
    text-align: center;
     height: 100%;
    }
        .contInv {
    display: block;
    width: 100%;
    text-align: center;
    }
    .icon {
    width: 100%;
    margin-top: 30px;
}
.textCont {
    text-align: center;
    border-left: none;
    padding: 0px;
    margin: 20px auto;
    max-width: 400px;
}
.extraContError ul {
    margin: 20px 0;
}
.extraContError{
    margin-top: 20px;
}
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.site-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #fff;
    border-bottom: solid 1px var(--light-gray);
    z-index: 1041;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
/*welcome-page*/
body.contWelcome {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(1,1fr 1fr 5fr 1fr 1fr);
}
.contWelcome .title {
    text-align: center;
    margin: 3% 0 0 0;
    font-size: 4rem;
    font-weight: bolder;
    color: var(--light-gray);
}
.contWelcome .title .subtitle {
    font-size: 1.5rem;
    color: gray;
}
.contWel-base {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0% 0 3% 0;
}
.contWel-base .extraContError p {
    color: gray;
}
.contWel-base a.textCont {
    margin: 10px 0;
    max-width: 300px;
    border: none;
    text-align: center;
    padding: 0px;
}
.contWel-base .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 100%;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
  color:gray;
}

.contWel-base .icon i {
    font-size: 8rem;
    transition: all .2s ease-in-out; 
}
.contWel-base .icon:hover, .contWel-base .icon:active {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
    background: var(--green);
}

.contWel-base .icon:hover:before,  .contWel-base .icon:hover:after, .contWel-base .icon:active:before,  .contWel-base .icon:active:after {
  display: block;
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: #2db2ad9e;
  border-radius: 100%;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.contWel-base .icon:hover:after, .contWel-base .icon:active:after  {
  background: #2bb2ac4d;
  animation: 2s counterclockwise infinite;
}
.icon:hover i, .icon:active i{
color:white;
transform: scale(0.9);
}
.titleError {
    font-size: 2rem;
    color:var(--green);
}
@media ( max-width : 940px) {
.contWel-base {
    display: block;
    width: 80%;
    margin: 20px auto;
}
}
@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}
/* footer */
footer {
    height: 80px;
    z-index: 6;
    float: right;
    background: #ffffff;
}
footer.xt-footer {
    width: 100%;
    position: static;
}

.footer-bottom {
    font-size: 12px;
    line-height: 47px;
    text-align: center;
    border-top: 1px solid var(--light-gray);
    background: #fff;
}
.menuFooter ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
}
.menuFooter li {
    padding: 20px 10px 0;
    line-height: 1;
}
.menuFooter a {
    color: #929292;
}

a.icon-cart.disabled, .menuFooter a {
    background: none!important;
    color: var(--linkDisabled)!important;
}
.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: no-drop;
}

a, a:hover, a:focus {
    color: var(--green);
    text-decoration: none;
    outline: none !important;
}
.dropdown.dropdown-lang button.dropdown-toggle {
    font-size: 1rem;
    background: none;
    color: var(--link);
}
.dropdown-toggle:after {
    top: 2px;
    position: relative;
}
.dropdown.dropdown-lang span.us::after {
    content: "US";
}
.dropdown.dropdown-lang span.es::after {
    content: "ES";
}
.dropdown-menu {
    border-color: #fff;
    margin-top: 16px;
    font-size: 0.8125rem /*13/16*/;
    padding: 0px;
    box-shadow: 0px 0px 10px -8px rgba(0,0,0,0.2), 0px 1px 20px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 10px -8px rgba(0,0,0,0.2), 0px 1px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px -8px rgba(0,0,0,0.2), 0px 1px 20px 0px rgba(0,0,0,0.2);
}
.dropdown-menu.show:after, .dropdown-menu.show:before {
    top: -29px;
    right: 13%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
.dropdown.dropdown-lang .dropdown-menu.dropdown-menu-right a {
    padding: 10px;
}

.dropdown-menu.dropdown-menu-right.show a {
    padding: 10px 0;
}
.dropdown-menu.show a {
    color: #868686;
    line-height: 20px;
    border-bottom: 1px solid #e6e5e56e;
    text-align: left;
    padding: 0 10px;
    display: flex;
}
a.dropdown-item {
    cursor: pointer;
    border-radius: 0px;
}
.dropdown-menu.show:before {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}
.dropdown.dropdown-lang button.dropdown-toggle {
    font-size: 1rem;
    background: none;
    color: var(--link);
}

header.site-header button, .header.site-header a {
    color: var(--link);
    background: none;
    border: none;
}
